<div>
    <mat-toolbar color="primary">
        <span>{{title}}</span>
      
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" mat-button>Home</a> 
        <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}"  mat-button>Register</a>
        <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" mat-button>Login</a>
        <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" mat-button>Dashboard</a>
            <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}" mat-button>Profile</a>
        <a (click)="onLogoutClick()" href="#" mat-button>Logout</a>
    
    </mat-toolbar>
</div>

